doctype html
html
  head
    title= title
    script(src='https://code.jquery.com/jquery-1.11.2.min.js')
    script(src='http://fb.me/react-0.12.2.js')
    script(src='http://fb.me/JSXTransformer-0.12.2.js')
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(href='/bower_components/bootstrap/dist/css/bootstrap.css' rel='stylesheet')
    link(href='/bower_components/bootstrap/dist/css/bootstrap-theme.css' rel='stylesheet')
    link(href='/stylesheets/style.css' rel='stylesheet')
    script.
      var t = {};
  body
    block content
